
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript"></script>
    <script src="~/Scripts/index.js"></script>
</head>

<body>
    <form style="margin-top:100px; margin-left:450px">
    <p style="font-size:20px;margin-left:100px">登录</p>
        <br/><br/><br /><br />
    <p>账号:<input type="number" id="id" name ="id" /> </p>
        <br /><br />
    <p>密码:<input type="password" id="password" name="password" /></p>
        <br /><br />
    <button  style="font-weight:100; margin-left:100px"  value="登录"  onclick="User.Logins()"/>
</form>
</body>
</html> 
